aistudio-sdk==0.3.8
albucore==0.0.24
albumentations==2.0.8
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
astor==0.8.1
bce-python-sdk==0.9.60
beautifulsoup4==4.14.3
certifi==2026.2.25
chardet==6.0.0.post1
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
colorlog==6.10.1
Cython==3.2.4
decorator==5.2.1
fastapi==0.133.0
filelock==3.24.3
fire==0.7.1
fonttools==4.61.1
fsspec==2026.2.0
future==1.0.0
h11==0.16.0
hf-xet==1.3.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
huggingface_hub==1.4.1
idna==3.11
ImageIO==2.37.2
imagesize==1.4.1
lazy_loader==0.4
lmdb==1.7.5
logger==1.4
loguru==0.7.3
lxml==6.0.2
markdown-it-py==4.0.0
mdurl==0.1.2
modelscope==1.34.0
networkx==3.6.1
numpy==2.4.2
opencv-contrib-python==4.10.0.84
opencv-python==4.13.0.92
opencv-python-headless==4.13.0.92
opt-einsum==3.3.0
packaging==26.0
rapidocr_onnxruntime>=1.3.0
onnxruntime>=1.16.0
pandas==3.0.1
pillow==12.1.1
prettytable==3.17.0
protobuf==3.20.2
psutil==7.2.2
py-cpuinfo==9.0.0
pyclipper==1.4.0
pycryptodome==3.23.0
pydantic==2.12.5
pydantic-settings==2.13.1
pydantic_core==2.41.5
Pygments==2.19.2
PyMuPDF==1.27.1
pypdfium2==5.5.0
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.1
python-multipart==0.0.22
PyYAML==6.0.2
RapidFuzz==3.14.3
requests==2.32.5
rich==14.3.3
ruamel.yaml==0.19.1
safetensors==0.7.0
scikit-image==0.26.0
scipy==1.17.1
setuptools==82.0.0
shapely==2.1.2
shellingham==1.5.4
simsimd==6.5.13
six==1.17.0
soupsieve==2.8.3
starlette==0.52.1
stringzilla==4.6.0
termcolor==3.3.0
tifffile==2026.2.24
tqdm==4.67.3
typer==0.24.1
typer-slim==0.24.0
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
uvicorn==0.41.0
watchfiles==1.1.1
wcwidth==0.6.0
websockets==16.0
win32_setctime==1.2.0

# Local LLM
llama-cpp-python>=0.3.0 --extra-index-url https://abetlen.github.io/llama-cpp-python/whl/cpu
huggingface_hub>=0.24.0
